body {
	background-color: #eee;
	height: 100%;
}

.navbar {
	margin-bottom: 0;
}


.moving-title-container {
	background-color: #eee;
	color: #5cb85c;
}

.title-container {
	background-color: White;
	border: 1px solid #ddd;
    border-radius: 4px;
}

.name-title {
	color: #337ab7;
}


.images-container {
	margin-top: 2%;
	text-align: center;
}

.images-container .row img {
	width: 18%;
	max-height: 200px;
}

hr {
	border-color: #555;
}

.form-container {
	margin-top: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: White;
	border: 1px solid #ddd;
    border-radius: 4px;
}

.message-container {
	text-align: center;
}

.message-label {
	vertical-align: middle;
}

.last-image-container {
	margin-top: 2%;
}

#lastImage {
	width: 100%;
}